[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.2.3"
markdown = "*"
gunicorn = "*"

[dev-packages]
fabric = "*"

[requires]
python_version = "3.6"
