[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.2.3"
markdown = "*"
gunicorn = "*"
faker = "*"
django-pure-pagination = "*"
pillow = "*"
django-crispy-forms = "*"
django-reversion = "*"
django-formtools = "*"
xlwt = "*"
xlsxwriter = "*"
future = "*"
httplib2 = "*"
django-import-export = "*"
django-ckeditor = "*"

[dev-packages]
fabric = "*"

[requires]
python_version = "3.6"
