{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title>{{ site_title }}_{{ site_name }}</title>
{% endblock %}

{% block row %}
    {% block main %}
            {% for personal in personal_list %}
                <article class="post">
                    <div class="entry-content clearfix">
                        <figure class="img-responsive-center">
                            <img class="img-responsive" src="{% static 'blog/media/' %}{{ personal.image }}" alt="Developer Image">
                        </figure>
                        <p>{{ personal.per_info | safe}}</p>
                        <div class="height-40px"></div>
                        <h2 class="title text-center">社交</h2>
                        <ul class="social">
                            <li class="facebook"><a href="#"><span class="ion-social-rss"></span></a></li>
                            <li class="twitter"><a href="{{ personal.github }}"><span class="ion-social-github"></span></a></li>
                        </ul>
                    </div>
                </article>
            {% endfor %}
    {% endblock %}
{% endblock %}
