{% extends 'base.html' %}
{% block title %}
    <title>{{ site_title }}_{{ site_name }}</title>
{% endblock %}
{% block row%}
    {% block main %}
        <h1 class="page-title">联系我</h1>
            <article class="post">
                <div class="entry-content clearfix">
                    <form action="{% url 'contacts:contact' %}" method="post" class="contact-form">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <div class="clo-md-4">
                                    {{ form.name }}
                                     {{ form.name.errors }}
                                </div>
                                <div class="clo-md-4">
                                    {{ form.email }}
                                    {{ form.email.errors }}
                                </div>
                                <div class="clo-md-4">
                                    {{ form.topic }}
                                    {{ form.topic.errors }}
                                </div>
                                <div class="clo-md-12">
                                    {{ form.text }}
                                    {{ form.text.errors }}
                                </div>
                                 <center><button class="btn-send btn-5 btn-5b ion-ios-paperplane" type="submit" name="submit">提交<span></span></button></center>
                            </div>
                        </div>	<!-- row -->
                    </form>
                </div>
            </article>
    {% endblock %}
{% endblock %}
